/*
* @Author: inksmallfrog
* @Date:   2017-04-28 11:13:21
* @Last Modified by:   inksmallfrog
* @Last Modified time: 2017-04-29 13:38:07
*/
section{
    & header{
        & h1{
            display: inline-block;
            font-size: 2.5rem;
            margin-right: 30px;
        }
        & p{
            display: inline-block;
            color: #666;
        }
        margin-bottom: 20px;
    }
}

.year{
    margin-bottom: 20px;
    & .secTitle{
        font-size: 25px;
        border-bottom: #aaa 1px solid;
    }
}

.month{
    margin: 0 20px;
    margin-bottom: 10px;
    & .secTitle{
        font-size: 22px;
        border: none;
    }
}

.passage{
    margin: 0;
    font-size: 1.2rem;
    line-height: 40px;
    & p{
        display: inline-block;
    }
    & .category{
        width: 1em;
        margin-right: 10px;
    }
    & .pDate{
        margin-right: 20px;
    }
    & .link{
        &:hover{
            text-decoration: underline;
        }
        &:visited{
            color: #a86;
        }
    }
}
