/*
* @Author: inksmallfrog
* @Date:   2017-04-28 19:15:48
* @Last Modified by:   inksmallfrog
* @Last Modified time: 2017-04-28 23:14:56
*/
:root{
    --linkStyle: {
        display: inline-block;
        margin-right: 80px;
    };
}
article{
    & h1{
        text-align: center;
        font-size: 3.5rem;
    }
}
.passage{
    font-size: 1.2rem;
    margin-bottom: 80px;
    & h1{
        text-align: left;
        font-size: 2.5rem;
        border-bottom: 1px #aaa solid;
        margin: 20px 0;
    }
    & h2{
        margin: 20px 0 10px 0;
        font-size: 1.8rem;
    }
    & h3{
        margin: 20px 0 10px 0;
        font-size: 1.2rem;
    }
    & h4{
        margin: 20px 0 10px 0;
    }
    & p{
        margin: 10px 0;
        text-indent: 2em;
    }
    & pre{
        margin: 10px 0 20px 0;
        line-height: 26px;
        & code:first-child{
            user-select: none;
            cursor: default;
        }
    }
    & ol{
        line-height: 40px;
        & li{
            margin-left: 1em;
        }
    }
    & a{
        color: blue;
        &:hover{
            text-decoration: underline;
        }
        &:visited{
            color: #a86;
        }
    }
}
.link{
    @apply --linkStyle;
    color: blue;
}
.linkDisable{
    @apply --linkStyle;
    color: black;
}
