/*
* @Author: inksmallfrog
* @Date:   2017-04-28 10:36:09
* @Last Modified by:   inksmallfrog
* @Last Modified time: 2017-04-28 15:44:03
*/
:root{
    --mainLeftMargin: 150px;
    --mainRightMargin: 100px;
    --mainPadding: 50px;
}
.mainSec{
    min-height: 100vh;
    height:100%;
    margin-left: var(--mainLeftMargin);
    margin-right: var(--mainRightMargin);
    padding: var(--mainPadding);
}
